@font-face {
    font-family: 'HelveticaMedium';
    src:
        local("Medium"),
        url("Medium.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaRegular';
    src:
        local("Regular"),
        url("Regular.otf") format("opentype");
}

body {
    font-family: HelveticaMedium, sans-serif;
    background-color: #0e0d0d;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transform: scale(1.5);
    overflow: hidden;
}

h3 { 
    font-family: 'HelveticaRegular';
    margin-bottom: 5px;
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.upload-area {
    cursor: pointer;
    margin: 20px 0;
    padding: 10px;
    border: 3px solid #ffc838;
    width: 230px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    position: relative;
    background-color: none;
    color: #ffc838;
    margin-bottom: 0px;
}

/* Existing CSS remains the same */

.downloadCodeBox {
    font-family: 'HelveticaRegular';
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: 3px solid #ffc838;
    width: 230px;
    border-radius: 10px 10px 0 0;
    background: none;
    color: #ffc838;
    outline: none;
}

/* Styling for the download button */
button {
    font-family: 'HelveticaRegular';
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border: 3px solid #ffc838;
    width: 111%;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff00; /* Transparent background like the unloaded loading bar */
    color: #ffc838; /* Text color */
    margin-top: 0; /* Aligns with the input box */
    transition: background-color 0.3s ease;
    border-top: none;
}

/* Hover effect for the download button */
button:hover {
    background-color: #e6b32d; /* Darker shade for hover effect */
    color: #0e0d0d;
}

/* Ensure that the label and button align correctly */
#downloadForm {
    width: 230px; /* Match width of upload area and button */
}

.upload-area:hover {
    background-color: #00000050; /* Darken on hover */
}

/* Hide the actual file input */
input[type="file"] {
    display: none;
}

/* loading bar */
.loading-bar {
    width: 100%;
    background-color: #ffffff00; /* Light gray background to show empty progress */
    border: 3px solid #ffc838;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    margin: 20px 0;
    height: 20px;
    overflow: hidden; /* Ensure the inner div doesn't overflow */
    margin-top: 0px;
    box-sizing: border-box;
    display: block !important;
}

.loading-progress {
    height: 100%;
    background-color: #ffc838; /* Green progress bar */
    width: 0%; /* Initial width */
    border-radius: 2px; /* Slightly rounded corners for the progress */
}