<!DOCTYPE html>
<html>
<head>
    <title>MonoUpload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form enctype="multipart/form-data" id="uploadForm">
        <label for="fileToUpload" class="upload-area">
            <h3>Select files to upload:</h3>
            <input type="file" name="fileToUpload" id="fileToUpload" multiple style="display: none;" onchange="uploadFiles()">
        </label>
        <div id="loadingBar" class="loading-bar" style="display: none;">
            <div id="loadingProgress" class="loading-progress"></div>
        </div>
        <div id="uploadStatus"></div>
    </form>

    <form id="downloadForm">
        <input type="text" name="downloadCode" id="downloadCode" placeholder="Enter download code" class="downloadCodeBox">
        <button type="button" onclick="startDownload()">Download</button> 
    </form>

    <script>
        function uploadFiles() {
            var files = document.getElementById('fileToUpload').files;
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('file' + i, files[i]);
            }

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);

            xhr.upload.onprogress = function(event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    document.getElementById('loadingBar').style.display = 'block';
                    document.getElementById('loadingProgress').style.width = percentComplete + '%';
                }
            };

            xhr.onload = function() {
                if (xhr.status === 200) {
                    document.getElementById('uploadStatus').innerHTML = xhr.responseText;
                } else {
                    alert('An error occurred during the upload.');
                }
                document.getElementById('loadingBar').style.display = 'none';
                document.getElementById('loadingProgress').style.width = '0%';
            };

            xhr.send(formData);
        }

        function startDownload() {
            var code = document.getElementById('downloadCode').value;
            if (code) {
                window.location.href = '/download/' + code;
            } else {
                alert('Please enter a download code.');
            }
        }
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
