<!DOCTYPE html>
<html>
<head>
    <title>MonoUpload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
        <label for="fileToUpload" class="upload-area">
            <h3>Select file to upload:</h3>
            <input type="file" name="fileToUpload" id="fileToUpload" style="display: none;">
        </label>
        <div id="loadingBar" class="loading-bar">
            <div id="loadingProgress" class="loading-progress"></div>
        </div>
    </form>

    <form action="/download" method="get" id="downloadForm">
        <label for="downloadCode">Enter download code:</label>
        <input type="text" name="downloadCode" id="downloadCode">
        <button type="button" onclick="startDownload()">Download</button>
    </form>

    <script>
        function startDownload() {
            var code = document.getElementById('downloadCode').value;
            if (code) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/download/' + code, true);
    
                // Show the loading bar
                var loadingBar = document.getElementById('loadingBar');
                var loadingProgress = document.getElementById('loadingProgress');
                loadingBar.style.display = 'block';
    
                xhr.responseType = 'blob';
                xhr.onprogress = function(e) {
                    if (e.lengthComputable) {
                        var percentComplete = (e.loaded / e.total) * 100;
                        loadingProgress.style.width = percentComplete + '%';
                    }
                };
    
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        loadingBar.style.display = 'none';
                        var blob = new Blob([xhr.response]);
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = code; // You can also retrieve the original file name from the response headers
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        alert('Download complete!');
                    } else {
                        alert('Download failed.');
                    }
                };
    
                xhr.send();
            } else {
                alert('Please enter a download code.');
            }
        }
    </script>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>